.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}

.d-flex {
  display: flex;
}

.gap-20{
    gap: 20px;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}

.bg-yellow {
  background: yellow;
}
