*{
    box-sizing: border-box;
}

body{
    background: #aaa;
    background-image: url('https://images.pexels.com/photos/1183099/pexels-photo-1183099.jpeg?cs=srgb&dl=pexels-simon73-1183099.jpg&fm=jpg');
    background-position: 0 0;
    background-size: cover;
}


.navbar > span.logo  {
font-size: 30px;
font-weight: bold;
}

.navbar .logo{
border: 2px solid #09e;
padding: 2px 10px;
border-radius: 5px;
background: #fff;
box-shadow: 5px 5px 10px 1px #444;
}

.navbar .nav-items{
    margin-left: 40px;
    background: #09e;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar .nav-items span.item{
    background: #fff;
    margin: 0 10px;
    padding: 2px 6px;
    border-radius: 2px;
    border: 1px solid #fff;
    text-transform: capitalize;
    font-size: 12px;
    position: relative;
}

.navbar .nav-items span.item:hover{
    cursor: pointer;
    background: #444;
    color: #fff;
    box-shadow: 5px 5px 10px 1px #444;
    transition: .2s;
}

.navbar span.item:before{
    content: ' ';
    height: 2px;
    width: 0%;
    background: red;
    position: absolute;
    bottom: 0;
    transition: .2s;
    left: 0;
}
.navbar span.item:hover:before{
    width: 100%;
}




.navbar span.item:after{
content: '';
}
